.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.env
mise.local.toml
yarn-error.log*
.worktrees
tsconfig.tsbuildinfo

/.next
/coverage
/node_modules
.idea
.yarnrc.yml
.yarn
/playwright/
.playwright-mcp
