.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.env
mise.local.toml
yarn-error.log*

/.next
/coverage
/node_modules
/playwright/.auth
/playwright/.user-data
.idea
.yarnrc.yml
.yarn
