.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.env
yarn-error.log*
.worktrees

/.next
/coverage
/node_modules
.idea
.yarnrc.yml
.yarn
tsconfig.tsbuildinfo

playwright
.playwright-mcp
